@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-ocean: #0077B6; 
  --color-leaf: #43A047; 
  --color-seafoam: #CAF0F8; 
  --color-coral: #F9844A; 
  --color-danger: #D00000; 
  --color-charcoal: #212529; 
  --color-softgray: #F1F1F1;
  --color-secondaryText: #6C757D; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-ocean    { color: var(--color-ocean); }
.text-leaf     { color: var(--color-leaf); }
.text-seafoam  { color: var(--color-seafoam); }
.text-coral    { color: var(--color-coral); }
.text-danger   { color: var(--color-danger); }
.text-charcoal { color: var(--color-charcoal); }
.text-softgray { color: var(--color-softgray); }
.text-secondaryText { color: var(--color-secondaryText); }

.bg-ocean       { background-color: var(--color-ocean); }
.bg-ocean:hover { background-color: #005f94; } /* darker ocean blue */

.bg-leaf        { background-color: var(--color-leaf); }
.bg-leaf:hover  { background-color: #40996d; } /* darker leafy green */

.bg-seafoam     { background-color: var(--color-seafoam); }
.bg-seafoam:hover { background-color: #addbe6; } /* deeper seafoam */

.bg-coral       { background-color: var(--color-coral); }
.bg-coral:hover { background-color: #dc6a2d; } /* burnt coral */

.bg-danger      { background-color: var(--color-danger); }
.bg-danger:hover { background-color: #a60000; } /* deeper red */

.bg-charcoal    { background-color: var(--color-charcoal); }
.bg-charcoal:hover { background-color: #161a1d; } /* deeper charcoal */

.bg-softgray    { background-color: var(--color-softgray); }
.bg-softgray:hover { background-color: #dddddd; } /* medium gray */

.bg-secondaryText       { background-color: var(--color-secondaryText); }
.bg-secondaryText:hover { background-color: #555b6b; } /* deeper muted gray */
